<div class="add-contact">
    <!-- <p><%#= @message.body %> was sent</p> -->
    <p>Would you like to add this number to your address book?</p>
    <p><%= link_to "yes ", new_contact_path %> <%= link_to " no", new_message_path %></p>
</div>
