<div class="add-contact">
    <p><%= @message.body %> was sent</p>
    <p>Would you like to add this number to your address book?</p>
    <button id="yes">Yes</button><button id="no">No</button>
</div>
