#header {
  background-color: black;
}
.alert {
  color: red;
  font-size: 1.2em;
}
.notice {
  color: #00CC00;
  font-size: 1.2em;
}
.centered {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

.body-container {
  margin-top: 60px;
}


